<div ng-cloak>
    <h2><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Google maps</h2>
    <hr>
    <div class="row">
        <div class="col-sm-9">
            <div class="input-group" id="searchboxdiv">
              <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </span>
            </div>
            <br>

            <div>
                <ui-gmap-google-map center="map.center"
                                    zoom="map.zoom"
                                    dragging="map.dragging"
                                    bounds="map.bounds"
                                    events="map.events"
                                    options="map.options"
                                    pan="true"
                                    control="map.control">
                    <ui-gmap-search-box options="searchbox.options"
                                        template="searchbox.template"
                                        parentdiv="'searchboxdiv'"
                                        events="searchbox.events"
                                        position="searchbox.position"></ui-gmap-search-box>

                    <ui-gmap-markers idkey="map.id"
                                     models="map.markers"
                                     coords="'self'"
                                     icon="'icon'"
                                     events="clickEventsObject">
                        <ui-gmap-windows>
                            <div ng-non-bindable>
                                <div style="display: table; table-layout: fixed;width: 350px;">
                                    <div class="" style="display: table-cell;padding-left: 5px;">
                                        <h1 style="font-size: 22px;margin: 0px 0px 3px 0px;">{{id}}</h1>

                                        <p>
                                            <i>{{ description }}</i><br style="margin-bottom: 6px;">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ui-gmap-windows>
                    </ui-gmap-markers>

                    <ui-gmap-marker idkey="-1" coords="markerLocator.coords" options="markerLocator.option">
                    </ui-gmap-marker>

                </ui-gmap-google-map>
            </div>
        </div>

        <div class="col-sm-3">
            <p>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <span ng-if="!display"> No selected marker</span>
                <span ng-if="display"> id: {{ display.id }} - <i>{{ display.description }}</i></span>
            </p>
        </div>
    </div>
</div>
